
input.newDeskName[type=text]:not(.browser-default){
    border-bottom: var(--global-border-color) solid 3px;
    color: var(--global-input-text-color);
    font-size: xx-large;
    width: 40%;
}
.appPage div.changeDeskNameInputBlock{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.newDeskName::placeholder{
    font-size: xx-large;
    color: var(--global-placeholder);
}
.newDeskNameSubmit{
    background-color: var(--global-active-color);
    border: none;
    width: 8vw;
    height: 80%;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    margin-right: 50px;
}
.changeNameError{
    margin: 0;
    margin-left: 5px;
    color: #fff;
    font-size: large;
}

@media screen and (max-width: 1024px) {
    .changeNameError{
        font-size: small;
    }
    .newDeskNameSubmit{
        margin-right: 30px;
    }
 }
 @media screen and (max-width: 768px) {
    .appPage div.changeDeskNameInputBlock {
        width: 100%;
    }
    input.newDeskName[type=text]:not(.browser-default){
        border-bottom: darkorange solid 3px;
        color: white;
        font-size: xx-large;
        width: 60%;
    }
 }