
input.newDeskName[type=text]:not(.browser-default){
    border-bottom: darkorange solid 3px;
    color: white;
    font-size: xx-large;
    width: 40%;
}
.darkPage input.newDeskName[type=text]:not(.browser-default){
    border-bottom: #80c6fc solid 3px;
    color: #80c6fc;
}
.bluePage input.newDeskName[type=text]:not(.browser-default){
    border-bottom: #80c6fc solid 3px;
    color: #fcfafa;
}
.bluePage input[type=text]:not(.browser-default):focus:not([readonly]).newDeskName {
    border-bottom: #80c6fc solid 3px;
    color: #fcfafa;
}
.appPage div.changeDeskNameInputBlock{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.newDeskName::placeholder{
    font-size: xx-large;
    color: rgba(245, 173, 86, 0.534) ;
}
.darkPage .newDeskName::placeholder{
    color: #80c6fc70;
}
.bluePage .newDeskName::placeholder{
    color: #aad6f770;
}
.newDeskNameSubmit{
    background-color: darkorange;
    border: none;
    width: 8vw;
    height: 80%;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    margin-right: 50px;
}
.darkPage .newDeskNameSubmit{
    background-color: #80c6fc;
}
.bluePage .newDeskNameSubmit{
    background-color: white;
    color: teal;
}
.changeNameError{
    margin: 0;
    margin-left: 5px;
    color: white;
    font-size: large;
}
.darkPage .changeNameError{
    color: #80c6fc;;

}

@media screen and (max-width: 1024px) {
    .changeNameError{
        font-size: small;
    }
    .newDeskNameSubmit{
        margin-right: 30px;
    }
 }
 @media screen and (max-width: 768px) {
    .appPage div.changeDeskNameInputBlock {
        width: 100%;
    }
    input.newDeskName[type=text]:not(.browser-default){
        border-bottom: darkorange solid 3px;
        color: white;
        font-size: xx-large;
        width: 60%;
    }
 }