.assignedBlock {
  border: 3px solid var(--global-border-color);
  height: fit-content;
  width: 350px;
  border-radius: 30px;
  background-color: var(--global-block-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.assignedBlock.active{
  display: none;
}
.assignedBlock .deskHead {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  color: white;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 3px var(--global-border-color) dashed;
}
.assignedBlock p {
  margin: 0 auto;
  font-size: xx-large;
  color: white;
}
@media screen and (max-width: 1140px) {
  .assignedBlock {
  width: 100%;
}  
}