.userPage{
    margin: 5vh auto;
    height: 80vh;
    display: flex;
}
.userPage .commonInfo{
    background-color: wheat;
    width: 60%;
}
.userPage .functionBlock{
    background-color: violet;
    width: 40%;
}