
input.newDeskName[type=text]:not(.browser-default){
    border-bottom: var(--global-border-color) solid 3px;
    color: white;
    font-size: xx-large;
    width: 90%;
    margin-left: 10px;
}
.appPage div.changeDeskNameInputBlock{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 50px);
}
.appPage div.changeDeskNameInputBlock p{
    margin: 0;
    margin-left: 5px;
    color: #fff;
    font-size: medium;
}
.newDeskName::placeholder{
    font-size: xx-large;
    color: var(--global-placeholder);
}
.newDeskNameSubmit{
    background-color: var(--global-block-bg-color);
    border: none;
    width: 60%;
    height: 30px;
    border: 1px solid var(--global-active-color);
    border-radius: 10px;
    color: white;
    font-weight: 400;
    margin: 5px auto;
}
@media screen and (max-width: 1024px) {
    .appPage div.changeDeskNameInputBlock p{
        font-size: small;
    }
 }
 @media screen and (max-width: 768px) {
    .appPage div.changeDeskNameInputBlock {
        width: 100%;
    }
    input.newDeskName[type=text]:not(.browser-default){
        border-bottom: var(--global-border-color) solid 3px;
        color: white;
        font-size: xx-large;
        width: 60%;
    }
 }