.requestPage div.task {
  display: flex;
  width: 100%;
  font-size: x-large;
  height: 70px;
  color: var(--global-border-color);
  padding: 5px 10px;
  text-align: center;
  border: 3px var(--global-border-color) dashed;
  border-radius: 10px;
  justify-content: space-between;
  transition: 1s;
  margin-top: 40px;
}
.requestPage div.task.true:hover {
  height: 150px;
}
.requestPage div.task.false {
  justify-content: center;
  height: fit-content;
}
.requestPage .task .taskDescription {
  word-wrap: break-word;
  line-height: 15px;
  opacity: 0;
  margin-top: 50px;
  position: absolute;
  font-size: medium;
  width: 18.5%;
  height: 60px;
}
.requestPage .taskRedact{
    filter: var(--alt-img-filter);
    margin-left: 4%;
}
.requestPage .taskDelete{
  filter: var(--alt-img-filter);
    margin-left: 12%;
}
.requestPage .task label{
    margin-left: 8%;
}


@keyframes descriptionShowing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.requestPage div.task:hover .taskDescription {
  animation: descriptionShowing 1s;
  opacity: 1;
}
