.appPage div.changeTaskBlock{
  display: inline-block;
  margin: 0;
}
.appPage div.changeTaskInputBlock{
  width: 95%;
  height: fit-content;
  margin: 0 10px;
  display: inline-block;
}
.appPage div.changeTaskInputBlock input[type=text]:not(.browser-default){
  margin: 0 0 -5px 0;
}
.appPage div.changeTaskInputBlock p {
  width: 100%;
  margin: 10px auto;
  font-size: small;
  line-height: 10px;
}
.appPage div.changeTaskInputBlock textarea{
  color: white;
  height: 70px;
  border: 2px solid var(--global-border-color);
  font-size: large;
}
.appPage div.changeTaskInputBlock select{
  margin: 5px auto;
  display: block;
}
@media screen and (max-width: 680px) {
  .appPage div .changeTaskBlock {
    display: inline-block;
}
.appPage div.changeTaskInputBlock{
  width: 80%;
}
}
