.adminPage {
  margin: 5vh auto;
  display: inline;
  justify-content: center;
}
.adminPage .usersList p.adminPageTitle {
  margin-left: 50px;
  background-color: var(--navbar-color);
  font-size: xx-large;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.adminPage .usersList div{
    display: flex;
}
.adminPage .usersList .user{
    margin: 20px;
    padding: 10px;
    display: inline;
    background-color: var(--global-input-text-color);
    color: white;
}
.adminPage .usersList .user p {
    border: 4px solid var(--global-border-color);
    color: white;
    font-size: larger;
    text-align: center;
    font-weight: 600;
}
.adminPage .usersList .user p:hover{
    opacity: 0.8;
}