.openedColonBlock {
  margin: 0 auto;
  border: 5px dashed darkorange;
  position: absolute;
  background-color: #ffc57f;
  width: 100%;
  border-radius: 30px;
  z-index: 2;
}
.openedColonBlock h3 {
  width: 100%;
  text-align: center;
  color: white;
}
.openedColonBlockHead {
  border-bottom: 8px dashed darkorange;
  display: flex;
}
.openedColonBlockHead img {
  cursor: pointer;
  width: 5%;
  height: 5%;
}
.openedColonBlockHead img:hover {
  opacity: 0.7;
}
.openedColonBlockHead img.deskDelete {
margin-right: 50px;
}

.tasks {
  display: flex;
  flex-wrap: wrap;
}