.appTitle{
    color: white;
    background-color: var(--global-title-bg-color);
    width: fit-content;
    padding: 10px;
}
.appPage{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.appPage.active{
    display:inline-block;
}
.appPage div{
    margin: 20px;
    justify-content: center;
}
.appHead{
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}