.addColonBlock img.addColonImgClose{
    margin: 5px 0;
    margin-left: 85%;
    width: 10%;
}
.addColonBlock img.addColonImgClose:hover{
    opacity: 0.7;
}
.addColonBlock input[type=text]:not(.browser-default){
    margin: 16px auto;
    color: white;
    font-size: x-large;
    width: 90%;
    border-bottom: 2px solid darkorange;
}
.addColonBlock input[type=text]:not(.browser-default)::placeholder{
    color: rgba(255, 255, 255, 0.7);
}
.addColonBlock button {
    margin: 0 auto;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: large;
    font-weight: 800;
    letter-spacing: 3px;
    background-color: darkorange;
    height: 50px;
    width: 70%;
}