
.addBlock img.addDeskImgClose{
    margin: 0;
    margin-left: 80%;
    width: 15%;
}
.addBlock img.addDeskImgClose:hover{
    opacity: 0.7;
}
.addBlock input[type=text]:not(.browser-default){
    margin: 0 auto;
    color: white;
    font-size: x-large;
    width: 90%;
    border-bottom: 2px solid darkorange;
}
.addBlock input[type=text]:not(.browser-default)::placeholder{
    color: rgba(255, 255, 255, 0.7);
}
.addBlock button {
    margin: 0 auto;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: large;
    font-weight: 800;
    letter-spacing: 7px;
    background-color: darkorange;
    height: 50px;
    width: 70%;
}

 