.openedDeskBlock{    
    border: 5px dashed var(--global-border-color);
    position: absolute;
    margin: 0;
    background-color: var(--global-block-bg-color);
    min-width: 50%;
    max-width: 75%;
    height: fit-content;
    min-height: 65vh;
    border-radius: 30px;
    z-index: 1;
}

.openedDeskBlock h3 {
    margin: 0;
    width: 70%;
    text-align: center;
    color: white;

}
.openedDeskBlockHead {
    border-bottom: 8px dashed var(--global-border-color) ;
    display: flex;
    height: 70px;
}
.openedDeskBlockHead .toolImg{
    display: flex;
    margin: 0 auto;
    width: 30%;
}
.openedDeskBlockHead img{
    height: 75%;
    cursor: pointer;
    filter:var(--global-img-filter);
}
.openedDeskBlockHead img:hover{
    opacity: 0.7;
}
.openedDeskBlockHead img.deskDelete{
    margin-right: 20px;
}
.colons{
    display: flex;
    flex-wrap: wrap;

}

@media screen and (max-width: 1024px) {
    .openedDeskBlockHead img.deskDelete{
        margin-right: 10px;
    }
    .openedDeskBlockHead img{
        height: 50%;
    }
 }
 @media screen and (max-width: 768px) {
    .openedDeskBlock{    
        width: 80%;
        height: fit-content;
        min-height: 45vw;
        border-radius: 30px;
    }
    .openedDeskBlockHead{
        display: inline-block;
        height: 130px;
        width: 95%;
    }
    .openedDeskBlock h3 {
        margin: 0;
        width: 100%;
        text-align: center;
        color: white;
    
    }
    .openedDeskBlockHead .toolImg{
        height: 60px;
        width: 50%;
        margin-top: 20px;
        justify-content: space-around;
    }
    .openedDeskBlockHead img.deskDelete{
        margin-right: 30px;
    }
 }
 @media screen and (max-width: 425px) {
     
    .openedDeskBlock h3 {
        width: 50%;
    }
    .openedDeskBlockHead img.deskDelete{
        margin-right: 3px;
    }
    .colon{
        width: 80%;
    }
 }
