.appPage div .openedDeskBlock{
    margin: 0 auto;
    height: fit-content;
    z-index: 1;
}

.openedDeskBlock h3 {
    margin: 0;
    width: 70%;
    text-align: center;
    color: white;

}
.openedDeskBlockHead {
    border-bottom: 8px dashed var(--global-border-color) ;
    display: flex;
    height: 70px;
}

.openedDeskBlock .colons{
    margin: 0;
    display: flex;
    flex-wrap: wrap;

}
 @media screen and (max-width: 768px) {
    .openedDeskBlock{    
        height: fit-content;
        min-height: 45vw;
        border-radius: 30px;
    }
    .openedDeskBlockHead{
        display: inline-block;
        height: 130px;
        width: 95%;
    }
    .openedDeskBlock h3 {
        margin: 0;
        width: 100%;
        text-align: center;
        color: white;
    
    }
 }
 @media screen and (max-width: 425px) {
     
    .openedDeskBlock h3 {
        width: 50%;
    }
 }
