.requestPage .changeTaskInputBlock input.newTaskName[type=text]:not(.browser-default) {
    color: var(--global-active-color);
    
}
.requestPage .sendRequestBlock button.taskRedactSubmit {
    margin-top: 15px;
}
.requestPage .changeTaskInputBlock textarea{
    font-size: large;
}
.requestPage .changeTaskInputBlock textarea::placeholder{
    font-size: large;
}