.appPage div.infoBlock {
  border: 3px solid var(--global-border-color);
  height: fit-content;
  width: 350px;
  border-radius: 30px;
  background-color: var(--global-block-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.appPage div.infoBlock.active {
  display: none;
}
.infoBlock .deskHead {
  display: flex;
  margin: 0;
  justify-content: space-between;
  color: white;
  align-items: center;
  min-height: 100px;
  width: 100%;
  border-bottom: 3px var(--global-border-color) dashed;
}
.infoBlock .deskHead .deskInfo {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 60px);
}
.infoBlock .deskHead h3 {
  margin-left: 15px;
  font-size: xx-large;
}
.deskHead .table {
  font-size: xx-large;
  transition: 0.3s;
}
.deskHead .table:hover {
  color: var(--global-active-color);
}
.deskHead .toolImg {
  width: 50px;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 10px;
  border-left: 3px var(--global-border-color) dashed;
}
.deskHead .toolImg img {
  width: 30px;
  margin: 5px 0;
  cursor: pointer;
  filter: var(--global-img-filter);
}
.deskHead .toolImg img:hover {
  opacity: 0.7;
}
.infoBlock p {
  margin: 0 auto;
  font-size: large;
  color: white;
}
.appPage div.openedHead{
  display: flex;
  width: 100%;
  justify-content: start;
}
.openedHead h4{
  margin-left:30px;
  color: var(--global-active-color);
  font-weight: 600;
}
img.back {
  width: 50px;
  margin: 15px 0;
  cursor: pointer;
  filter: var(--alt-img-filter);
}
@media screen and (max-width: 1140px) {
  .appPage div.infoBlock {
    width: 100%;
  }
}
