.infoBlock{
    border: 5px solid var(--global-border-color);
    min-width: 20vw;
    height: 20vw;
    border-radius: 30px;
    background-color: var(--global-block-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.infoBlock h3{
    text-align: center;
    color: white;
    margin: 0;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 8px var(--global-border-color) dashed;
}
.infoBlock h3 img{
    width: 2.5vw;
    margin-left:10px

}
.infoBlock p{
    margin: 0 auto;
    font-size: xx-large;
    color: white;
}
@media screen and (max-width: 1024px) {
    .infoBlock{
        width: 31vw;
    }
 }
 @media screen and (max-width: 768px) {
    .infoBlock{
        width: 80vw;
        height: 50vw;
    }
 }
