.addBlock{
    border: 5px solid var(--global-border-color);
    border-radius: 30px;
    width: 20vw;
    height: 20vw;
    background-color: var(--global-block-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.addBlock p{
    text-align: center;
    margin: 10px auto;
    width: 70%;
    color: white;
    font-weight: 600;
    font-size: x-large;

}
.addBlock img.addDeskImg{
    filter: var(--global-img-filter);
}
 @media screen and (max-width: 1440px) {
    .addBlock img.addDeskImg{
        width: 60%;
    }
 }
 @media screen and (max-width: 1024px) {
    .addBlock{
        width: 31vw;
    }
    .addBlock img.addDeskImg{
        margin: 0 auto;
        width: 40%;
    }
    .addBlock p{
        width: 80%;
    }
 }
 @media screen and (max-width: 768px) {
    .addBlock{
        width: 80vw;
        height: 50vw;
    }
 }
 