.addBlock{
    border: 5px solid var(--global-border-color);
    border-radius: 30px;
    width: 45%;
    height: fit-content;
    background-color: var(--global-block-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.addBlock p{
    text-align: center;
    margin: 10px auto;
    width: 70%;
    color: white;
    font-weight: 700;
    font-size: xx-large;

}
.addBlock img.addDeskImg{
    filter: var(--global-img-filter);
}
 @media screen and (max-width: 1140px) {
    .addBlock{
        width: 100%;
        height: fit-content;
    }
 }

 