.addColonBlock{
    border: 5px solid var(--global-border-color);
    border-radius: 30px;
    height: 210px;
    min-width: 280px;
    max-width: 280px;
    background-color: var(--global-block-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.addColonBlock p{
    text-align: center;
    margin: 10px auto;
    color: white;
    font-weight: 600;
    font-size: medium;

}
.addColonBlock img.addColonImg{
    margin: 10px auto;
    width: 50%;
    filter: var(--global-img-filter);
}
.addColonBlock img.addColonImg:hover{
    opacity: 0.7;
}

.addColonBlock img.addColonImgClose{
    filter: var(--global-img-filter);
    margin: 5px 0;
    margin-left: 85%;
    width: 10%;
}
.addColonBlock img.addColonImgClose:hover{
    opacity: 0.7;
}
.addColonBlock input[type=text]:not(.browser-default){
    margin: 16px auto;
    color: white;
    font-size: x-large;
    width: 90%;
    border-bottom: 2px solid var(--global-border-color);
}
.addColonBlock input[type=text]:not(.browser-default)::placeholder{
    color: rgba(255, 255, 255, 0.7);
}
.addColonBlock button {
    margin: 0 auto;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: large;
    font-weight: 800;
    letter-spacing: 3px;
    background-color: var(--global-block-bg-color);
    height: 50px;
    width: 70%;
}
@media screen and (max-width: 1140px) {
    .addColonBlock{
        height: 170px;
        width: 90%;
        max-width: none;
        flex-direction: row;
    }  
    .addColonBlock img.addColonImg{
        margin: 10px auto;
        width: 20%;
        filter: var(--global-img-filter);
    }
}
@media screen and (max-width: 768px) {
    .addColonBlock{
        height: 150px;
    }  
}
@media screen and (max-width: 425px) {
    .addColonBlock{
        height: 100px;
    }  
    .addColonBlock img.addColonImg{
        margin: 10px auto;
        width: 20%;
        filter: var(--global-img-filter);
    }
}