.addColonBlock{
    border: 5px solid rgba(255, 140, 0);
    border-radius: 30px;
    width: 20%;
    background-color: rgba(255, 140, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.addColonBlock p{
    text-align: center;
    margin: 10px auto;
    color: white;
    font-weight: 600;
    font-size: x-large;

}
.addColonBlock img.addColonImg{
    margin: 10px auto;
    width: 40%;
}
.addColonBlock img.addColonImg:hover{
    opacity: 0.7;
}

.addColonBlock img.addColonImgClose{
    margin: 5px 0;
    margin-left: 85%;
    width: 10%;
}
.addColonBlock img.addColonImgClose:hover{
    opacity: 0.7;
}
.addColonBlock input[type=text]:not(.browser-default){
    margin: 16px auto;
    color: white;
    font-size: x-large;
    width: 90%;
    border-bottom: 2px solid darkorange;
}
.addColonBlock input[type=text]:not(.browser-default)::placeholder{
    color: rgba(255, 255, 255, 0.7);
}
.addColonBlock button {
    margin: 0 auto;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: large;
    font-weight: 800;
    letter-spacing: 3px;
    background-color: darkorange;
    height: 50px;
    width: 70%;
}

@media screen and (max-width: 1440px) {
    .addColonBlock{
        width: 30%;
    }
 }
@media screen and (max-width: 1024px) {
    .addColonBlock{
        width: 40%;
    }
 }
 @media screen and (max-width: 768px) {
    .addColonBlock{
        width: 60%;
    }
 }
@media screen and (max-width: 425px) {
    .addColonBlock{
        width: 80%;
    }
 }