.appPage div .addTaskBlock{
    border: 5px solid var(--global-border-color);
    margin: 0;
    border-radius: 30px;
    width: 100%;
    background-color: var(--global-block-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addTaskBlock .addTablet{
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.addTaskBlock img{
    filter: var(--global-img-filter);
}

.addTaskBlock p{
    margin: 10px auto;
    color: white;
    font-weight: 600;
    font-size: x-large;

}

@media screen and (max-width: 768px) {
    .addTaskBlock{
        display: flex;
        flex-direction: column;
    }
  }