.userPage{
    margin: 5vh auto;
    width: 70vw;
    height: 20vh;
    display: inline;
    justify-content: center;
}
.userPage .userIcon{
    margin: 5vh auto;
    width: fit-content;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(255, 140, 0, 0.7);
    border-radius: 10px;
    font-size: 10vh;
    color: white;
    line-height: 8vh;
    padding: 30px;
}
.darkPage .userPage .userIcon{
    background-color: rgba(0, 0, 0, 0.7);
}
.bluePage .userPage .userIcon{
    background-color: #026f94;
}
.userPage .commonInfo{
    width: 80%;
    margin: 0 auto;
}
.userPage .commonInfo div{
    height: 70px;
    display: flex;
    color: black;
    font-size: x-large;
    justify-content: space-between;
}
.darkPage .userPage .commonInfo div{
    color: rgb(255, 255, 255);
}
.userPage .commonInfo div select{
    width: 150px;
    display: block;
    text-transform: capitalize;

}

.userPage a.linkToApp{
    display: flex;
    justify-content: center;
    background-color: #ff8c00;
    margin: 0 auto;
    margin-top: 2vh;
    padding:  10px 0;
    width: 50%;
    border-radius: 30px;
    color: white;
    font-size: xx-large;
}
.darkPage .userPage a.linkToApp{
    background-color: #ffffff;
    color:  black;
}
.bluePage .userPage a.linkToApp{
    background-color: #026f94;
}
.userPage.notAuthUser{
    margin-top: 10vh;
    color: darkorange;
    font-size: xx-large;
    font-weight: 900;
    display:block;
    text-align: center;
}
.darkPage .userPage.notAuthUser{
    color: rgb(255, 255, 255);
}
.bluePage .userPage.notAuthUser{
    color: #026f94;
}
@media screen and (max-width: 768px) {
    .userPage .userIcon{
        width: 70%;
        border-radius: 10px;
        font-size: 50px;
        color: white;
        line-height: 3vh;
    }
    .userPage .commonInfo{
        width: 90%;
        margin: 0 auto;
    }
}

