.userPage{
    margin: 5vh auto;
    width: 80%;
    height: 20vh;
    display: inline;
    justify-content: center;
}
.userPage .userIcon{
    margin: 4vh auto;
    width: fit-content;
    text-align: center;
    text-transform: capitalize;
    background-color: var(--global-title-bg-color);
    border-radius: 10px;
    font-size: 3vw;
    color: white;
    line-height: 8vh;
    padding: 30px;
}
.userPage .commonInfo{
    width: 60%;
    margin: 0 auto;
}
.userPage .commonInfo div{
    height: 70px;
    display: flex;
    color: var(--global-text-color);
    font-size: x-large;
    justify-content: space-between;
}
.userButtons{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
}
.userPage a.linkToApp{
    display: flex;
    justify-content: center;
    background-color: var(--global-title-bg-color);
    margin: 10px auto;
    width: fit-content;
    padding:  10px 50px;
    border-radius: 30px;
    color: white;
    font-size: xx-large;
}
.userPage.notAuthUser{
    margin-top: 10vh;
    color: var(--global-text-color);
    font-size: xx-large;
    font-weight: 900;
    display:block;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .userPage .userIcon{
        width: 70%;
        border-radius: 10px;
        font-size: 150%;
        color: white;
        line-height: 3vh;
    }
    .userPage .commonInfo{
        width: 90%;
        margin: 0 auto;
    }
}

