.input-field{
    margin: 0 auto;
    margin-top: 30vh;
    width: 80%;
}
.input-field p{
margin: 0;
margin-top: -6px;
margin-bottom: 5px;
background-color: darkorange;
padding-left: 10px;
}
.darkPage .input-field p{
    background-color: darkgray;
}
.bluePage .input-field p{
    color: white;
    background-color: teal;
}
.darkPage .input-field input {
    color:  white;
}
.input-field p.passwordsDontSameMessage{
    margin: 0; 
}
.input-field .singInputText{
    position: relative;
}
input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid darkorange;
     box-shadow: 0 1px 0 0 darkorange;
}
input[type=password]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid darkorange;
     box-shadow: 0 1px 0 0 darkorange;
}
input[type=email]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid darkorange;
     box-shadow: 0 1px 0 0 darkorange;
}
input[type=text]:not(.browser-default):focus:not([readonly])+label{
    color: darkorange;
}
input[type=password]:not(.browser-default):focus:not([readonly])+label{
    color: darkorange;
}
input[type=email]:not(.browser-default):focus:not([readonly])+label{
    color: darkorange;
}
input[type=text]:not(.browser-default):focus:not([readonly])+i{
    color: darkorange;
}
input[type=password]:not(.browser-default):focus:not([readonly])+i{
    color: darkorange;
}
input[type=email]:not(.browser-default):focus:not([readonly])+i{
    color: darkorange;
}
.darkPage input[type=text]:not(.browser-default):focus:not([readonly]){
    color: white;
    border-bottom: 1px solid lightgray;
     box-shadow: 0 1px 0 0 lightgray;
}
.darkPage input[type=password]:not(.browser-default):focus:not([readonly]){
    color: white;
    border-bottom: 1px solid lightgray;
     box-shadow: 0 1px 0 0 lightgray;
}
.darkPage input[type=email]:not(.browser-default):focus:not([readonly]){
    color: white;
    border-bottom: 1px solid lightgray;
     box-shadow: 0 1px 0 0 lightgray;
}
.darkPage input[type=text]:not(.browser-default):focus:not([readonly])+label{
    color: lightgray;
}
.darkPage input[type=password]:not(.browser-default):focus:not([readonly])+label{
    color: lightgray;
}
.darkPage input[type=email]:not(.browser-default):focus:not([readonly])+label{
    color: lightgray;
}
.darkPage input[type=text]:not(.browser-default):focus:not([readonly])+i{
    color: lightgray;
}
.darkPage input[type=password]:not(.browser-default):focus:not([readonly])+i{
    color: lightgray;
}
.darkPage input[type=email]:not(.browser-default):focus:not([readonly])+i{
    color: lightgray;
}

.bluePage input[type=text]:not(.browser-default):focus:not([readonly]){
    color: rgb(0, 0, 0);
    border-bottom: 1px solid lightgray;
     box-shadow: 0 1px 0 0 lightgray;
}
.bluePage input[type=password]:not(.browser-default):focus:not([readonly]){
    color: rgb(0, 0, 0);
    border-bottom: 1px solid lightgray;
     box-shadow: 0 1px 0 0 lightgray;
}
.bluePage input[type=email]:not(.browser-default):focus:not([readonly]){
    color: rgb(0, 0, 0);
    border-bottom: 1px solid lightgray;
     box-shadow: 0 1px 0 0 lightgray;
}
.bluePage input[type=text]:not(.browser-default):focus:not([readonly])+i{
    color: teal;
}
.bluePage input[type=password]:not(.browser-default):focus:not([readonly])+i{
    color: teal;
}
.bluePage input[type=email]:not(.browser-default):focus:not([readonly])+i{
    color: teal;
}
.input-field > i {
    cursor: pointer;
    color:#000000; 
    position: absolute;
    right: 5%;
    margin-top: 0px;
    transition:.3s;
}
.darkPage .input-field > i {
    color:lightgray; 
}
.fa{
    font: normal normal normal 20px/2 FontAwesome;
}
.input-field > i:hover {
opacity: 0.5;
}