
.addColonBlock .addTablet{
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}
.addColonBlock .addTablet p{
    font-size: x-large;
}
@media screen and (max-width: 1140px) {
    .addColonBlock .addTablet{
        flex-direction: row;
    }   
}