.openedDeckBlock{    
    border: 5px dashed darkorange;
    position: absolute;
    margin: 0;
    background-color: #ffc57f;
    width: 65%;
    height: fit-content;
    min-height: 45vw;
    border-radius: 30px;
}
.openedDeckBlock h3 {
    width: 100%;
    text-align: center;
    color: white;

}
.openedDeckBlockHead {
    border-bottom: 8px dashed darkorange ;
    display: flex;
}
.openedDeckBlockHead img{
    width:5%;
    height: 5%;
}
.openedDeckBlockHead img.deckDelete{
    width: 5%;
    height: 50%;
    margin-right: 50px;
}
.colons{
    display: flex;
    flex-wrap: wrap;

}
.colon{
    font-size: x-large;
    line-height: 10%;
    color: white;
    padding: 5px 10px;
    text-align: center;
    border: 3px darkorange dashed;
    border-radius: 10px;
}
.colon:hover{
    border: 3px darkorange solid;
}

input.newDeckName[type=text]:not(.browser-default){
    border-bottom: darkorange solid 3px;
    color: white;
    font-size: xx-large;
    width: 60%;
}
.newDeckName::placeholder{
    font-size: xx-large;
    color: rgba(245, 173, 86, 0.534) ;
}
.newDeckNameSubmit{
    background-color: darkorange;
    border: none;
    width: 10%;
    color: white;
    font-weight: 400;
    margin-left: 50px;
}


@media screen and (max-width: 1024px) {
    .openedDeckBlockHead img{
        width:7%;
        height: 7%;
    }
    .openedDeckBlockHead img.deckDelete{
        width: 7%;
        height: 70%;
        margin-right: 30px;
    }
 }
 @media screen and (max-width: 768px) {
    .openedDeckBlock{    
        width: 80%;
        height: fit-content;
        min-height: 45vw;
        border-radius: 30px;
    }
    .openedDeckBlockHead img{
        width:10%;
        height: 10%;
    }
    .openedDeckBlockHead img.deckDelete{
        width: 10%;
        height: 100%;
        margin-right: 30px;
    }
 }
 @media screen and (max-width: 425px) {
    .openedDeckBlock h3 {
        width: 50%;
        margin-top: 40px;
    }
    .openedDeckBlockHead img{
        width:15%;
        height: 15%;
    }
    .openedDeckBlockHead img.deckDelete{
        width: 15%;
        height: 150%;
        margin-right: 3px;
    }
    .colon{
        width: 80%;
    }
 }
