.column{
    width: 280px;
    font-size: large;
    line-height: 10%;
    color: white;
    height: fit-content;
    padding: 5px 10px;
    text-align: center;
    border: 3px var(--global-border-color) dashed;
    border-radius: 10px;
    background-color: var(--global-block-bg-color);
}
.column p{
    line-height: 60px;
}
.column:hover{
    border: 3px var(--global-border-color) solid;
}
.appPage div.columnHead{
    display: flex;
    margin: 0;
    justify-content: space-between;
    color: white;
    align-items: center;
    width: 100%;
    border-bottom: 3px var(--global-border-color) dashed;
}
.columnHead .columnInfo{
    display: flex;
    width: calc(100% - 90px);
    margin: 0;
    align-items: center;
    justify-content: space-between;
}
.columnHead .columnInfo h4{
    font-size: x-large;
}
.columnHead .columnInfo i{
    transition: 0.3s;
    font-size: xx-large;
}
.columnHead .columnInfo i:hover{
    color: var(--global-active-color);
}
.columnHead .toolImg{
    width: 50px;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 10px;
    border-left: 3px var(--global-border-color) dashed;
}
.columnHead .toolImg img{
    width: 30px;
    margin: 5px 0;
    cursor: pointer;
    filter:var(--global-img-filter);
}
.columnHead .toolImg img:hover{
opacity: 0.7;
}
@media screen and (max-width: 1140px) {
    .column{
        width: 260px;
    }
 }
 @media screen and (max-width: 768px) {
    .column{
        width: 90%;
    }
 }
@media screen and (max-width: 425px) {
    .column{
        width: 80%;
    }
 }