button:disabled{
    opacity: 0.2;
}
button:not(:disabled){
    cursor: pointer;
}
button:not(:disabled):hover {
    opacity: 0.7;
}
.page{
    height: 100%;
    min-height: 100vh;
}
.page.darkPage{
    background-color: rgb(25, 25, 25);
}
.page.bluePage{
    background-color: rgb(255, 255, 255);
}