:root {
  --global-bg-color: #fff;
  --global-title-bg-color: rgba(255, 140, 0, 0.7);
  --global-border-color: darkorange;
  --global-block-bg-color: rgb(255, 197, 127);
  --navbar-color: darkorange;
  --global-active-color: rgba(255, 140, 0, 0.5);
  --global-img-filter: brightness(1) invert(0);
  --alt-img-filter: brightness(1) invert(0);
  --global-input-text-color: darkorange;
  --global-placeholder: rgba(255, 140, 0, 0.5);
  --global-text-color: black;
  --welcome-title-color: rgb(245, 127, 23);
  --welcome-title-shadow: 5px 5px 0px #eb452b, 8px 8px 0px #efa032,
    11px 11px 0px #60b546, 14px 14px 0px #2b92be, 17px 17px 0px #c11ab3;
}
.page[data-theme="dark"] {
  --global-bg-color: rgb(25, 25, 25);
  --global-title-bg-color: #000;
  --global-border-color: rgb(255, 255, 255);
  --global-block-bg-color: rgb(25, 25, 25);
  --navbar-color: rgb(25, 25, 25);
  --global-active-color: #4183b6;
  --global-img-filter: brightness(0.5) invert(0.8);
  --alt-img-filter: brightness(0.5) invert(0.8);
  --global-input-text-color: #80c6fc;
  --global-placeholder: #80c6fc70;
  --global-text-color: #fff;
  --welcome-title-color: rgb(255, 255, 255);
  --welcome-title-shadow: 5px 5px 0px #cccccc, 8px 8px 0px #9c9c9c,
    11px 11px 0px #646464, 14px 14px 0px #313131, 17px 17px 0px #0c0c0c;
}
.page[data-theme="blue"] {
  --global-bg-color: #fff;
  --global-title-bg-color: #026f94;
  --global-border-color: rgb(1, 46, 77);
  --global-block-bg-color: #026f94;
  --navbar-color: #026f94;
  --global-active-color: rgb(41, 157, 192);
  --global-img-filter: brightness(0) invert(1);
  --alt-img-filter: brightness(1) invert(1);
  --global-input-text-color: #026f94;
  --global-placeholder: #aad6f770;
  --global-text-color: rgb(1, 46, 77);
  --welcome-title-color: rgb(2, 111, 148);
  --welcome-title-shadow: 5px 5px 0px #3177c7, 8px 8px 0px #b9d4fd,
    11px 11px 0px #b4f0f8, 14px 14px 0px #ffffff, 17px 17px 0px #ffffff;
}
.page[data-theme="swamp"] {
  --global-bg-color: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
  --global-title-bg-color: #2b723467;
  --global-border-color: #154e1d;
  --global-block-bg-color: #9ec0db88;
  --navbar-color: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);;
  --global-active-color: #2b7235;
  --global-img-filter: brightness(0) invert(1);
  --alt-img-filter: brightness(0) invert(1);
  --global-input-text-color: #134e15;
  --global-placeholder: #7ebd80;
  --global-text-color: #2b7235;
  --welcome-title-color: #134e15;
  --welcome-title-shadow: 5px 5px 0px #7ebd80, 8px 8px 0px #b9d4fd,
    11px 11px 0px #b4f0f8, 14px 14px 0px #ffffff, 17px 17px 0px #ffffff;
}
.page[data-theme="sky"] {
  --global-bg-color: linear-gradient(to right, #1c92d2, #f2fcfe);;
  --global-title-bg-color: #1c92d2;
  --global-border-color: #fff;
  --global-block-bg-color: #6bb0e988;
  --navbar-color: #1c92d2;
  --global-active-color: #fff;
  --global-img-filter: brightness(0) invert(1);
  --alt-img-filter: brightness(0) invert(1);
  --global-input-text-color: #fff;
  --global-placeholder: #7fb9d8;
  --global-text-color: #fff;
  --welcome-title-color: #fff;
  --welcome-title-shadow: 5px 5px 0px #6bb0e988, 8px 8px 0px #b9d4fd,
    11px 11px 0px #7fb9d8, 14px 14px 0px #1c92d2, 17px 17px 0px #1c92d2;
}
.page[data-theme="purple"] {
  --global-bg-color: linear-gradient(to right, #41295a, #2f0743);
  --global-title-bg-color: #675172;
  --global-border-color: #fff;
  --global-block-bg-color: #675172;
  --navbar-color: linear-gradient(to top, #41295a, #4b3158);
  --global-active-color: #fff;
  --global-img-filter: brightness(0) invert(1);
  --alt-img-filter: brightness(0) invert(1);
  --global-input-text-color: #fff;
  --global-placeholder: rgba(255, 255, 255, 0.274);
  --global-text-color: #fff;
  --welcome-title-color: #fff;
  --welcome-title-shadow: 5px 5px 0px #898192a8, 8px 8px 0px #948f99cc,
    11px 11px 0px #41295ab6, 14px 14px 0px #41295ad3, 17px 17px 0px #41295a;
}
.page[data-theme="cherry"] {
  --global-bg-color: linear-gradient(to right, #c92f41, #ca442f);
  --global-title-bg-color: #0000004b;
  --global-border-color: #fff;
  --global-block-bg-color: #7a000098;
  --navbar-color: #7a000098;
  --global-active-color: #fff;
  --global-img-filter: brightness(0) invert(1);
  --alt-img-filter: brightness(0) invert(1);
  --global-input-text-color: #fff;
  --global-placeholder: rgba(255, 255, 255, 0.274);
  --global-text-color: #fff;
  --welcome-title-color: #fff;
  --welcome-title-shadow: 5px 5px 0px #7a00004b, 8px 8px 0px #7a000098,
    11px 11px 0px rgba(255, 255, 255, 0.493), 14px 14px 0px #7a000098, 17px 17px 0px rgba(255, 255, 255, 0.281);
}
button:disabled {
  opacity: 0.5;
}
button:not(:disabled) {
  cursor: pointer;
}
button:not(:disabled):hover {
  opacity: 0.7;
}
.page {
  height: 100%;
  min-height: 100vh;
}
.page {
  background: var(--global-bg-color);
}
.container{
  max-width: none;
}

