.sendRequestBlock p{
    color: var(--global-active-color);

}
.sendRequestBlock textarea{
    border: 1px solid var(--global-border-color);
    height: 80px;
    padding: 10px;
}
.sendRequestBlock input::placeholder{
    color: var(--global-placeholder-color);
}