.welcomeBlock{
    margin: 0 auto;
    padding-top: 20vh;
    text-align: center;
}
.welcomeBlock h1{
    margin-bottom: 10vh;
    color: var( --welcome-title-color);
    text-shadow: var(--welcome-title-shadow);
    font-size: 600%;
}
.darkPage .welcomeBlock h1{
    color: var( --welcome-title-color);
    text-shadow: var(--welcome-title-shadow);
}
.bluePage .welcomeBlock h1{
    color: var( --welcome-title-color);
    text-shadow: var(--welcome-title-shadow);
}
.welcomeBlock p{
    font-size: 150%;
    font-weight: 800;
    color: var(--global-text-color);
}
.welcomeBlock p.welcomeClue{
    margin-top: 20vh;
    opacity: 0.4;
}