.linkButton{
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: center;
    background-color: darkorange;
    margin-top: 4vh;
    color: #ffff;
    font-size: x-large;
    border: none;
    padding: 10px 0;
    border-radius: 20px;
    text-transform: uppercase;
}
.darkPage .linkButton{
    background-color: white;
    color: black;
}
.bluePage .linkButton{
    background-color: teal;
}


