
.addTaskBlock img.addTaskImg{
    margin: 10px auto;
    width: 60px;
}
.addTaskBlock img.addTaskImg:hover{
    opacity: 0.7;
}

@media screen and (max-width: 425px) {
    .addTaskBlock img.addTaskImg{
        display: none;
    }
  }